<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p style="color: red;" th:if="${message}" th:text="${message}"></p>

<form th:action="@{/save-customer}" th:object="${customer}" method="post">
    <table>
        <tr>
            <td>First Name:</td>
            <td><input type="text" th:field="*{firstName}"/></td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td><input type="text" th:field="*{lastName}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create Customer"></td>
        </tr>
    </table>
</form>

</body>
</html>